.animator > *
    // transform: translateY(60px)
    position: relative
    top: 100px
    opacity: 0
    transition: 500ms

// .intersected
//     transform: translateY(0px)
//     opacity: 1

// @keyframes up
//     from
//         transform: translateY(60px)
//         opacity: 0
//     to
//         transform: translateY(0px)
//         opacity: 1

.quote
    display: flex
    align-items: center
    justify-content: center

    p
        line-height: 96px
        margin: 0 0 auto

    span
        font-size: 96px
        font-weight: bold
        color: royalblue
