.chatbox
    display: flex
    flex-direction: column

.sent, .received
    width: fit-content
    border-radius: 5px
    padding: 5px 10px
    display: flex

.sent
    align-self: flex-end
    background: royalblue

.received
    align-self: flex-start
    background: red
