// @media screen and (max-width: 600px) 
// @media screen and (max-width: 600px)
// @media screen and (min-width: 600px)
// @media screen and (max-width: 768px)
// @media screen and (max-width: 992px)
// @media screen and (max-width: 1200px)

@use "typography"
@use "palette"
@use "cards"

body
  position: absolute
  min-height: 100vh
  margin: 0
  font-family: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif
  transition: 500ms
  overflow-x: hidden
  overflow-y: auto

*
  box-sizing: border-box
  transition: 250ms

.no-offset.no-offset
  top: 0px
  opacity: 1

progress
  position: relative

  width: 100%
  height: 60px
  border-radius: 30px

  overflow: hidden
  appearance: none
  cursor: pointer

progress::after
  font-size: 1.25rem
  font-weight: 500

  content: "upload file"
  position: absolute
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px

  width: fit-content
  height: fit-content
  border-radius: 6px
  padding: 6px
  margin: auto

progress.loading::after
  content: "uploading"

progress.loaded::after
  content: "uploaded"

progress.loading::-webkit-progress-value
  background: rgb(85 85 255)

::-webkit-progress-bar
  background: rgba(85 255 85 / 50%)
