body {
  position: absolute;
  min-height: 100vh;
  margin: 0;
  font-family: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: 500ms;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  font-size: large;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

button {
  font-family: Manrope;
}

* {
  box-sizing: border-box;
  transition: 250ms;
}
