:root
    --primary: #4169E1
    --secondary: #75AADB
    --accent: #FCBF49

    --light-primary: #4169E155
    --light-secondary: #75AADB55
    --light-accent: #FCBF4955

    --shadow: 0 0 1rem
    --shadow-btm: 0 .5rem 1rem
