:root
  --primary: #4169e1
  --secondary: #75aadb
  --accent: #fcbf49
  --light-primary: #4169e155
  --light-secondary: #75aadb55
  --light-accent: #fcbf4955

  --white: #fff
  --light: #eee
  --dark: #111
  --black: #000

  --shadow: 0 0 1rem
  --shadow-btm: 0 .5rem 1rem
  --shadow-test: 0 1rem 2rem -1rem var(--dark)