h1
  margin: 0
  font-size: 4rem
  font-weight: 800
  text-align: center

h2
  margin: 0
  font-size: 3rem
  font-weight: 700

h3
  margin: 0
  font-size: 2.5rem
  font-weight: 600

h4
  margin: 0
  font-size: 2rem
  font-weight: 500

button
  font-family: Manrope

a
  color: inherit
  font-size: 1.25rem
  font-weight: 500
  text-decoration: none

  &:hover
    color: royalblue

p
  color: rgb(16 16 16)

::selection
  background: #4169e180
  color: white